{% extends 'layout.html' %}

{% block content %}



<div class="me">
    <h1>
        Amazing creator
    </h1>
    <img alt="Qries" src="../static/images/me.jpg">
    </a>
 </div>

   
 <ul class="dicription">
    <h1>
        About The Food Shack
    </h1>
    <p>
        "Discover a world of delicious recipes on our website, 
        where food lovers can explore a variety of dishes from around the globe. 
        Whether you're looking for a quick weekday meal or an indulgent treat, 
        we provide easy-to-follow recipes to satisfy every craving. Dive into our collection and start cooking something amazing today!"
    </p>
</ul>



{% endblock %}
